<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="nav">
    <h1><%= title %></h1>    

      <a href="/flights">ALL FLIGHTS</a> | 
      <a href="/flights/new">ADD FLIGHT</a>
    </section>
    
    <br>
    <br>

    <section id="info">
    <label for="airline">Choose an Airline:</label>
      <select name="airports" id="airports">
        <option value=“american”>American</option>
        <option value=“southwest”>Southwest</option>
        <option value=“united”>United</option>
      </select>

    <br>

    <label for="airports">Choose an Airport:</label>
      <select name="airports" id="airports">
        <option value=“AUS”>AUS</option>
        <option value=“DFW”>DFW</option>
        <option value=“DEN” selected>DEN</option>
        <option value=“LAX”>LAX</option>
        <option value=“SAN”>SAN</option>
      </select>

    <br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date"
      value=""
      min="2020-01-01" max="3000-01-01">
      
    </section>

  </body>
</html>
