body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(75, 124, 77, 0.747);
  text-align: center;
  color: #eaeec4;
  text-shadow: 1px 1px rgb(27, 54, 9);

}

#nav {
  background-color: rgba(136, 196, 138, 0.747);
  margin: -10px 0 10px 0;
  padding: 10px;
  width: 100%;
}

a {
  color: #eaeec4;
  text-shadow: 1px 1px rgb(27, 54, 9);

}

label {
  color: #eaeec4;
  text-shadow: 1px 1px rgb(27, 54, 9);

}

h1 {
  color: #eaeec4;
  text-shadow: 1px 1px rgb(27, 54, 9);
}

#info {
  line-height: 2.8;
}