<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Flight Index</title>
</head>
<body>

<table id="list">
    <thead>
        <tr>
            <th>Flights</th>
            <th>Flight Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%  flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %> </td>
                <td><%= f.flightNo  %> </td>
                <td><%= f.date %> </td>
                <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
            </tr>
        <% }) %> 
    </tbody>
</table>

    
</body>
</html>