<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="add-flight" action="/new" method="POST">
        <label>Airline:</label>
        <input type="text" name="airline">
        <label>Airport:</label>
        <input type="text" name="airport">
        <label>Date:</label>
        <input type="date" name="date">
        <input type="submit" value="Add Flight">

    </form>
    
</body>
</html>